[alias]
  # credit to https://haacked.com/archive/2014/07/28/github-flow-aliases/ for most of these
  branch-cleanup = branch --sort=committerdate --format='%(align:position=left,width=32)%(color:yellow)%(HEAD) %(color:reset default)%(committerdate:relative)%(end) %(color:green)%(refname:lstrip=-1) %(color:default)-> %(color:blue)%(upstream:short) %(color:default)'
  cob = checkout --track origin/main -b
  delete-merged = "!f() { git branch --merged ${1-main} | rg -v " ${1-main}$" | xargs git branch -d; }; f"
  home = switch main
  sup = status -vv
  tidy = "!f() { git up && git checkout ${1-main} && git up && git delete-merged ${1-main}; }; f"
  todo = "!f() { git diff --name-only ${1-origin/main} | xargs rg TODO; }; f"
  up = pull --rebase --autostash
  which = "!f() { git config --get alias.${1}; }; f"
[color]
  gui = true
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  attributesfile = ~/.gitattributes
  pager = delta
[credential]
	helper = osxkeychain
[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = Solarized (dark)
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow box ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan ul
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[diff]
  submodule=log
  colorMoved = default
[diff "json"]
	textconv = python3 -m json.tool
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[format]
	pretty = format:%C(auto)%h %Cgreen%<(15,trunc)%an %C(auto)%<(60,trunc)%s %d
[include]
  # [user] values
  path = ~/.gitconfig_local
[pager]
  status = true
[push]
  default = current
[status]
  submodulesummary = true
[init]
	defaultBranch = main
