[submodule "vim-jsx"]
	path = vim/.vim/pack/benlaverriere/start/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "ale"]
	path = vim/.vim/pack/benlaverriere/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "vimtex"]
	path = vim/.vim/pack/benlaverriere/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "fzf"]
	path = vim/.vim/pack/benlaverriere/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "gutentags"]
	path = vim/.vim/pack/benlaverriere/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "kotlin-vim"]
	path = vim/.vim/pack/benlaverriere/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "surround"]
	path = vim/.vim/pack/benlaverriere/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "repeat"]
	path = vim/.vim/pack/benlaverriere/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "zsa_qmk_firmware"]
	path = qmk/zsa_qmk_firmware
	url = git@github.com:zsa/qmk_firmware.git
	ignore = untracked
[submodule "vim-javascript"]
	path = vim/.vim/pack/benlaverriere/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim-commentary"]
	path = vim/.vim/pack/benlaverriere/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "graphql"]
	path = vim/.vim/pack/benlaverriere/start/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "goyo"]
	path = vim/.vim/pack/benlaverriere/start/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "limelight"]
	path = vim/.vim/pack/benlaverriere/start/limelight
	url = https://github.com/junegunn/limelight.vim
[submodule "fugitive"]
	path = vim/.vim/pack/benlaverriere/start/fugitive.git
	url = https://tpope.io/vim/fugitive.git
[submodule "quick-scope"]
	path = vim/.vim/pack/benlaverriere/start/quick-scope.git
	url = https://github.com/unblevable/quick-scope.git
[submodule "rust"]
	path = vim/.vim/pack/benlaverriere/start/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "vim-rhubarb"]
	path = vim/.vim/pack/benlaverriere/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "typescript-vim"]
	path = vim/.vim/pack/benlaverriere/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim-solarized8.git"]
	path = vim/.vim/pack/benlaverriere/start/vim-solarized8.git
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "kitty_icon_whiskers"]
	path = src_not_stowed/kitty_icon_whiskers
	url = https://github.com/samholmes/whiskers
[submodule "vim-kitty"]
	path = vim/.vim/pack/benlaverriere/start/vim-kitty
	url = https://github.com/fladson/vim-kitty
[submodule "vim-markbar.git"]
	path = vim/.vim/pack/benlaverriere/opt/vim-markbar.git
	url = https://github.com/Yilin-Yang/vim-markbar.git
[submodule "rainbow_csv.git"]
	path = vim/.vim/pack/benlaverriere/start/rainbow_csv.git
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "vim-sile.git"]
	path = vim/.vim/pack/benlaverriere/start/vim-sile.git
	url = https://github.com/sile-typesetter/vim-sile.git
[submodule "vim-fountain.git"]
	path = vim/.vim/pack/benlaverriere/start/vim-fountain.git
	url = https://github.com/kblin/vim-fountain.git
[submodule "swift.vim"]
	path = vim/.vim/pack/benlaverriere/start/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "vim-racket"]
	path = vim/.vim/pack/benlaverriere/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket
[submodule "vim-pollen"]
	path = vim/.vim/pack/benlaverriere/start/vim-pollen
	url = https://github.com/otherjoel/vim-pollen
[submodule "vim-sexp"]
	path = vim/.vim/pack/benlaverriere/start/vim-sexp
	url = https://github.com/benknoble/vim-sexp
[submodule "vim-sexp-mappings-for-regular-people"]
	path = vim/.vim/pack/benlaverriere/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule "reply.vim"]
	path = vim/.vim/pack/benlaverriere/start/reply.vim
	url = https://github.com/rhysd/reply.vim
[submodule "git-format-staged"]
	path = src_not_stowed/git-format-staged
	url = https://github.com/hallettj/git-format-staged
[submodule "dash.vim"]
	path = vim/.vim/pack/benlaverriere/start/dash.vim
	url = https://github.com/rizzatti/dash.vim
