[submodule "vim/.vim/pack/benlaverriere/start/vim-jsx"]
	path = vim/.vim/pack/benlaverriere/start/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/.vim/pack/benlaverriere/start/ale"]
	path = vim/.vim/pack/benlaverriere/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "vimtex"]
	path = vim/.vim/pack/benlaverriere/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/.vim/pack/benlaverriere/start/tabnine-vim"]
	path = vim/.vim/pack/benlaverriere/start/tabnine-vim
	url = https://github.com/zxqfl/tabnine-vim
[submodule "vim/.vim/pack/benlaverriere/start/fzf"]
	path = vim/.vim/pack/benlaverriere/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/benlaverriere/start/gutentags"]
	path = vim/.vim/pack/benlaverriere/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/pack/benlaverriere/start/kotlin-vim"]
	path = vim/.vim/pack/benlaverriere/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vim/.vim/pack/benlaverriere/start/surround"]
	path = vim/.vim/pack/benlaverriere/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/.vim/pack/benlaverriere/start/repeat"]
	path = vim/.vim/pack/benlaverriere/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/.vim/pack/benlaverriere/start/vim-colors-solarized"]
	path = vim/.vim/pack/benlaverriere/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "qmk/zsa_qmk_firmware"]
	path = qmk/zsa_qmk_firmware
	url = git@github.com:zsa/qmk_firmware.git
	ignore = untracked
[submodule "vim/.vim/pack/benlaverriere/start/vim-javascript"]
	path = vim/.vim/pack/benlaverriere/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/.vim/pack/benlaverriere/start/vim-commentary"]
	path = vim/.vim/pack/benlaverriere/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
