/* minimalist styles for Brother admin pages, for use with Stylus extension */

#frameContainer,
#mainFrame,
#mainFrameContainer,
#mainFrameTopLeft,
#mainFrameInner,
#subMenu,
#headerFrameContainerLeft,
#headerFrameContainerRight,
#headerFrameInner,
#SetBoxAuthRight,
#SetBoxAuthLeft {
  border: 0;
  background: transparent;
  color: black;
}

#mainFrameContainer {
  display: flex;
}

#mainFrameTopLeft,
#mainFrameTopRight,
#mainFrameTopInner {
  background: white;
  color: black;
}

#mainFrameTopLeft {
  flex: 1;
  border-right: 1px dotted black;
}

#mainFrameTopInner {
  height: unset;
}

#mainFrameInner {
  flex: 6;
}

#baseFrame {
  padding: 2ex;
}

#frameContainer {
  min-width: inherit;
}

#mainFrameTopInner,
#subTabMenu ul,
#headerFrameInner {
  padding: 0;
  margin: 0;
}

#mainFrameInner {
  display: flex;
}

#subMenu {
  margin: 0;
  padding: 0;
  position: inherit;
  flex: 1;
  border-right: 1px dotted black;
  width: inherit;
}

#subMenu div,
#subMenu .selected {
  width: inherit;
  margin: 0;
}

#rightFrameContainer {
  margin: 0;
  padding: 2em;
  flex: 4;
}

#subTabMenu ul {
  overflow: inherit;
}

#subTabMenu ul li {
  margin: 0;
  padding: 0;
  float: none;
}

#subTabMenu ul li * {
  color: black;
}

/* style both menus' text explicitly so that adjacent items are the same size */
#subMenu .selected a, #subMenu div a, #subTabMenu ul li.selected, #subTabMenu li a {
  font-size: 0.9rem;
  line-height: 125%;
}

#subTabMenu ul li.selected {
  font-weight: normal;
  color: #FFD926;
  background: black;
  border-color: black;
}

#subTabMenu li a:hover {
  color: black;
  border-right: 1ex solid black;
}

#subTabMenu li a,
#subTabMenu li.selected {
  text-align: left;
  display: block;
  border-right: 1ex solid white;
}

#subTabMenu li a,
#subMenu div a,
#subTabMenu li.selected {
  padding: 4px 0 6px 17px;
  margin: 0;
}

#mainFrameBottomLeft {
  display: none;
}

#copyright {
  color: #AAA;
  text-align: center;
  padding: 1em;
}

#subMenu div a,
#modelName h1,
h2,
h3,
h4,
h5,
h6,
.items,
a,
th,
td,
.longItems {
  color: black;
}

.ifStatus {
  color: black;
  font-weight: normal;
}

.noteMessage {
  color: black;
  font-style: italic;
}

#subMenu .selected .top,
#subMenu .selected .bottom {
  background: none;
}

.contact,
.location {
  background: none;
  text-indent: inherit;
}

#subMenu .selected {
  background: black;
}

#subMenu .selected a {
  color: white;
  background: none;
}

#headerFrame {
  display: flex;
  align-items: stretch;
}

#modelName {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

#headerFrame #corporateLogo {
  display: none;
}

#SetBoxAuthRight {
  vertical-align: middle;
}

#SetBoxAuthLeft form div {
  color: black;
}

#SetBoxAuthLeft form div * {
  margin-left: 1em;
}

input#logout,
input#login {
  width: 1em;
  height: 2em;
  margin: 0.2em;
  /* white arrow/triangle */
  /* https://gist.github.com/szilagyi/6624176 plus https://yoksel.github.io/url-encoder/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 7L1 3H9L5 7Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: transparent;
  background-size: 1em;
  transform: rotate(-90deg);
}

input#logout:hover,
input#login:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 7L1 3H9L5 7Z' fill='white'/%3E%3C/svg%3E");
  background-color: black;
  transform: rotate(-90deg);
}

.moni {
  font-family: 'JetBrains Mono', mono;
  font-weight: 600;
  letter-spacing: 0.1ex;
  border: none;
}

.moniOk::after {
  font-weight: 200;
  content: '[status: OK] '
}

.moniWarning::after {
  font-weight: 200;
  content: '[status: warning] '
}

.moniError::after {
  font-weight: 200;
  content: '[status: error] '
}

.moniEtc::after {
  font-weight: 200;
  content: '[status: etc] '
}

.contentsGroup,
.items dd,
.items dt {
  padding-left: 0;
  border: none;
}

.items dd:after {
  content: none;
}

.items dt.subhead span {
  margin: 0;
}

#ink_level {
  display: block;
  width: inherit;
}

#inkLevelMono {
  width: inherit;
}

#inkLevelMono td {
  background: none;
  border: 1px solid black;
  border-width: 1px 0;
  text-align: left;
  vertical-align: bottom;
  line-height: 100%;
  border-spacing: 0;
}

#ink_level table {
  border-spacing: 0;
}

.items select {
  font-size: inherit;
}

.spacer {
  margin: 0;
}

#topBack {
  display: none;
}

#subMenu .selected a {
  /* from the original — not in keeping with monochrome but I actually like this yellow */
  color: #FFD926
}

#subMenu div a {
  border-right: 1ex solid white;
}

#subMenu .selected a {
  border-color: black;
}

#subMenu .selected a:hover {
  color: #FFD926;
}

#subMenu div a:hover {
  border-right: 1ex solid black;
  color: black;
}

#headerFrameInner:after {
  clear: none;
}

#tabMenu {
  margin: 0;
  padding: 0;
}

#tabMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#tabMenu > ul > li {
  float: none;
  display: flex;
}

#headerFrameInner {
  height: unset;
  border-bottom: 1px dotted black;
  margin-bottom: 1px;

}

#tabMenu > ul > li > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#tabMenu > ul > li > ul > li {
  flex: 1;
  vertical-align: bottom;
}

#tabMenu > ul > li > ul > li > a, #tabMenu > ul > li > ul > li.selected > p {
  padding-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#tabMenu a,
#tabMenu ul li ul li {
  background: white;
}

#tabMenu ul li ul li {
  padding: 0;
  margin: 0;
  padding-bottom: 1ex;
  margin-bottom: 0;
}

#tabMenu > ul > li > ul > li:hover {
  padding-bottom: 0;
  border-bottom: 1ex solid black;
  margin-bottom: 0;
}

#tabMenu a {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
}

#tabMenu ul li ul li:hover a,
#tabMenu ul li ul li a {
  color: black;
}

#tabMenu .selected,
#tabMenu .selected p,
#tabMenu .selected:hover,
#tabMenu .selected:hover p {
  color: #FFD926;
  background: black;
  border-bottom: 0;
}

#tabMenu .selected:hover p {
  border-bottom: 1ex solid black;
}

input[type="button"],
input[type="submit"] {
  padding: 0.4em;
  margin: 0 22px 2px 0;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="button"]:active,
input[type="submit"]:active {
  border-width: 3px;
  margin: 0 20px 0 0;
}

.contentsButtons {
  margin: 0
}

.postSuccess {
  color: black;
  margin-left: 0;
  border-left: 1ex solid black;
  padding: 1ex;
}

.postSuccess::before {
  content: '✔ '
}

table.errorHistory,
table.errorHistory th,
table.errorHistory td {
  width: inherit;
  padding: 0 1em;
  color: black;
}

.links a:after {
  content: " Settings →";
}

.links a {
  text-decoration: none;
  padding-bottom: 0.5ex;
  border-bottom: 1px solid black;
  font-weight: normal;
}

.links a:active {
  border-bottom: 1ex solid black;
}

#pageContents {
  margin: 0;
  padding: 0;
  min-height: inherit;
}

#rightFrame {
  position: inherit;
  height: inherit;
  min-height: inherit;
}

#pageTitle {
  margin: 0;
}

table.multiHeader,
.findNode,
.findModel,
.findStatus,
.findIp {
  width: inherit;
}

table.multiHeader thead th {
  width: inherit;
  padding: 0 1em;
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
}

h2,
.contentsTable {
  border-bottom: 3px double black;
}

#solutions {
  float: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
}

#solutions > div, #solutions div span {
  background: none;
  float: none;
  margin: 0;
  padding: 0;
  height: unset;
}

#solutions div a {
  display: block;
  /* https://fontawesome.com/icons/square-arrow-up-right?s=solid */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M384 32H64C28.65 32 0 60.66 0 96v320c0 35.34 28.65 64 64 64h320c35.35 0 64-28.66 64-64V96C448 60.66 419.3 32 384 32zM344 312c0 17.69-14.31 32-32 32s-32-14.31-32-32V245.3l-121.4 121.4C152.4 372.9 144.2 376 136 376s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L234.8 200H168c-17.69 0-32-14.31-32-32s14.31-32 32-32h144c17.69 0 32 14.31 32 32V312z'/%3E%3C/svg%3E");
  background-size: 0.8rem;
  background-repeat: no-repeat;
  background-position: center right 0.5rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  height: 100%;
}

#solutions div span {
  display: block;
}

#solutions div a:hover {
  color: #FFD926;
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M384 32H64C28.65 32 0 60.66 0 96v320c0 35.34 28.65 64 64 64h320c35.35 0 64-28.66 64-64V96C448 60.66 419.3 32 384 32zM344 312c0 17.69-14.31 32-32 32s-32-14.31-32-32V245.3l-121.4 121.4C152.4 372.9 144.2 376 136 376s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L234.8 200H168c-17.69 0-32-14.31-32-32s14.31-32 32-32h144c17.69 0 32 14.31 32 32V312z' fill='white'/%3E%3C/svg%3E");
}
